# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyBqQCowCToCtVh30OXfUOvoHTQFG6bTfBA
VITE_FIREBASE_AUTH_DOMAIN=allchat-27105.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=allchat-27105
VITE_FIREBASE_STORAGE_BUCKET=allchat-27105.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=905232532866
VITE_FIREBASE_APP_ID=1:905232532866:web:c40a8786969659d06a7b9b

# Pollinations API
VITE_POLLINATIONS_API_KEY=sk_pAubOe0qN3XySFHvV4l8UVFhiT7APklU
